section#product-contest
    .product-contest__title__background
        .container
            h1.product-contest__title PRODUCT CONTEST FOR STUDENTS
            h2.product-contest__subtitle 学生作品コンテスト
    .product-contest__content__background
        .container
            p.product-contest__text
              | 関西をはじめとした全国各地から学生が集い、それぞれが自分の自慢のサービスやプロダクトについて、
              br
              | 自由にプレゼンテーションをしていただく作品コンテストを開催します！
              br
              | Webの世界に身を置く人が集まるFRONTEND CONFERENCEという舞台にて、
              br
              | 世代を越えた、学生ならではの突飛なアイデアやプロダクトへの思いを、
              br
              | 現職の皆様をも巻き込んでぶつけてもらいます！
            //.btn--product-contest
            //    a.product-contest__detaill__link(href="./contest.html")
            //        span CONTEST　詳細をみる