//
   Created by chanu on 17/01/24.

section#handson
    .handson__title__background
        .container
            h1.handson__title HANDSON
            h2.handson__subtitle ハンズオン
    .handson__content__background
        .container
            ul.handson__lists
                each handson in handson_lists
                    li
                        div(class="handson__list handson__list--"+handson.field)
                            span.handson__list__head #{handson.technology}
                            p.handson__list__body
                                span #{handson.title}
                                a.handson__list__slide(href="" +handson.slide target="_blank") ハンズオン資料
