section#staffs
  .container
    .sstaffs__heading
      h2.title STAFF
    .staffs__block
      .staff__list
        ul
          li
            img(src="./../img/staff/poteto4d.jpg")
            a(href="#") 花谷 拓磨
          li
            img(src="./../img/staff/goto.jpg")
            a(href="https://chatbox-inc.com/member/mikakane" target="_blank") 後藤 知宏
          li
            img(src="./../img/staff/shima.jpg")
            a(href="https://shimakyohsuke.com/" target="_blank") シマキョウスケ
          li
            img(src="./../img/staff/yasui.jpg")
            a(href="") Yasui Risa
          li
            img(src="./../img/staff/shono.jpg")
            a(href="https://chatbox-inc.com/member/shono/" target="_blank") ショウノシオリ
          li
            img(src="./../img/staff/yamasaki.JPG")
            a(href="https://twitter.com/44x1carbon" target="_blank") 山崎 好洋
          li
              img(src="./../img/staff/aoki.jpg")
              a(href="https://github.com/UNILORN" target="_blank") 青木 勇介
          li
              img(src="./../img/staff/mismith.jpg")
              a(href="https://twitter.com/misumi_takuma/" target="_blank") ミスミタクマ
        ul.students
            li 山腰 知典
            li 竹脇 聡史
            li 古賀 友輝
            li 大村 雄哉
            li 上田 陽子
            li 小俣 瀬奈
            li 織田 幹矢
            li 渕田 恭秀
            li 宮前椋平
            li 伯 健弘

