doctype html
html(lang="ja")
  include ./_head.jade
  body
    .background
    #partyOver
      include ./_sec_hero.jade
      .hero__info
        h2.hero__infoTitle ご参加ありがとうございました！
        p.hero__infoDescription 「FRONTEND CONFERENCE 2017」は300人を超える大勢の来場者で賑い、大変有意義なイベントとなりました。 スピーカーの皆さま、スポンサーさま、ご参加者の皆さまによって充実したカンファレンスになりましたことを、スタッフ一同御礼申し上げます。

      //include ./_sec_main_menu.jade
      //include ./_sec_concept.jade
      include ./_sec_new_session.jade
      include ./_sec_lt.jade
      include ./_sec_handson.jade
      include ./_sec_blog.jade
      //include ./_sec_discussion.jade
      //include ./_sec_product_contest.jade
      //include ./_sec_after_party.jade
      include ./_sec_sponsoredBy.jade
      //include ./_sec_summary.jade
      include ./_sec_staff.jade
      include ./_sec_share.jade
      include ../common/_footer.jade
      .copyright
        a(href="https://twitter.com/kiri_sawa01" target="_blank") Designed by Yasui Risa